<div class="container-fluid">

    <uib-tabset>
        <input class="button toggleButton" ng-click="toggleTab()" type="button" value="Toggle All"></input>
        <!--<input class="button toggleButton" ng-click="uncheckTab()" type="button" value="Uncheck All"></input>-->
        <uib-tab ng-repeat="tab in tabs" select="getContent($index)" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
            <div ng-hide="!tabs.isLoaded">
                <fruit></fruit>
            </div>
            <div ng-hide="tabs.isLoaded"><h3>Loading...</h3></div>
        </uib-tab>
    </uib-tabset>

</div>
