<div  ng-show="tab.title=='Liquor'">
    <h2>Apple</h2>
    <p>The apple tree (Malus domestica) is a deciduous tree in the rose family best known for its sweet, pomaceous fruit, the apple. It is cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus. The tree originated in Central
        Asia, where its wild ancestor, Malus sieversii, is still found today. Apples have been grown for thousands of years in Asia and Europe, and were brought to North America by European colonists. Apples have religious and mythological significance in many
        cultures, including Norse, Greek and European Christian traditions.
    </p>
</div>

<div  ng-show="tab.title=='Mixer'">
    <h3>Pear</h3>
    <p>The pear is any of several tree and shrub species of genus Pyrus /ˈpaɪrəs/, in the family Rosaceae. It is also the name of the pomaceous fruit of these trees. Several species of pear are valued for their edible fruit, while others are cultivated as
        ornamental trees.
    </p>
</div>

<div  ng-show="tab.title=='Other'">
    <h3>Pear</h3>
    <p>The pear is any of several tree and shrub species of genus Pyrus /ˈpaɪrəs/, in the family Rosaceae. It is also the name of the pomaceous fruit of these trees. Several species of pear are valued for their edible fruit, while others are cultivated as
        ornamental trees.
    </p>
</div>
