<div  ng-show="tab.title=='Liquor'">
    <ul ng-repeat="ing in liquor" class="list">
        <li class="item">
            <a href="#">{{ing.name}}</a>
        </li>
    </ul>
</div>

<div  ng-show="tab.title=='Mixer'">
    <ul ng-repeat="ing in mixer" class="list">
        <li class="item">
            <a href="#">{{ing.name}}</a>
        </li>
    </ul>
</div>

<div  ng-show="tab.title=='Other'">
    <ul ng-repeat="ing in other" class="list">
        <li class="item">
            <a href="#">{{ing.name}}</a>
        </li>
    </ul>
</div>
