@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* General */
html {
  min-height: 100%;
  /* make sure it is at least as tall as the viewport */
  position: relative; }

body {
  height: 100%; }
body .title {
  font-size: 22px;
  margin-bottom: 15px; }
body .navbar button {
  border: none;
  float: left;
  margin-left: 10px; }
body .tab-bar {
  margin-bottom: 20px; }
body .left-small {
  border: none;
  box-shadow: none; }
body .left-off-canvas-menu {
  border: none;
  box-shadow: none; }
body .row {
  max-width: none; }

.back-button {
  color: white;
  font-size: 30px;
  padding-left: 13px;
  padding-top: 6px;
  width: 45px;
  height: 45px;
}

.back-button:hover {
  color: darkgray;
  text-decoration: none;
}

/* CSS for ??? */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; }

.menu:before {
  content: "["; }

.menu:after {
  content: "]"; }

.menu > li {
  display: inline; }

.menu > li:before {
  content: "|";
  padding-right: 0.3em; }

.menu > li:nth-child(1):before {
  content: "";
  padding: 0; }

/* CSS for unused modal demo on home page */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear; }

.modal-backdrop.am-fade.ng-enter {
  opacity: 0; }

.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5; }

.modal-backdrop.am-fade.ng-leave {
  opacity: .5; }

.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0; }

/* Tabs in cabinet */
.tab-pane.am-fade {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  opacity: 1; }

.tab-pane.am-fade.active-remove {
  display: none !important; }

.tab-pane.am-fade.active-add {
  animation-name: fadeIn; }

.nav-tabs {
  margin-left: 0;
}

/* Cabinet list items */
.cabinetList {
  padding: 0;
  margin: 0; }
.cabinetList .cabinetItem {
  list-style-type: none;
  padding: 10px 0 10px 0; }
.cabinetList .cabinetItem div {
  width: 90%;
  margin: auto;
  /* to hide the checkbox itself */
  /* space between checkbox and label */
  /* allow space for check mark */ }
.cabinetList .cabinetItem div label {
  float: right; }
.cabinetList .cabinetItem div input[type=checkbox] {
  position: relative;
  font-size: 20px;
}
.cabinetList .cabinetItem div label > input[type=checkbox]:before {
  position: absolute;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  letter-spacing: 10px; }
.cabinetList .cabinetItem div label > input[type=checkbox]:checked:before {
  float: right;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f046";
  letter-spacing: 5px; }

/* Drink List */
.drinkList {
  margin-left: 0;
}
.drinkList .availItem {
  list-style-type: none; }

/* Drink Details */
.drinkTitle {
  font-size: 22px;
  width: 80%;
  margin-bottom: 20px; }

.cost {
  font-size: 16px;
  margin: 0;
  margin-top: -40px;
  float: right; }

