<div class="container-fluid">

  <div class="bar bar-header bar-light">
      <section style="padding-top: 20px">
        <span>Available Drinks</span>
          <select class="drinkFilter">
              <option>All</option>
              <option>Creamy</option>
              <option>Minty</option>
              <option>Fruity</option>
          </select>
      </section>
  </div>

  <ul class="drinkList list-group">
      <a href="#/drinks/{{drink.id}}" ng-repeat="drink in drinksAvail">
        <li class="availItem list-group-item">{{drink.name}}</li>
      </a>
  </ul>

</div>
