<div class="container-fluid">
    <a href="#/view2" class="mainNavButton">
        <img ng-src="img/menuIcon.png">
        Drinks
    </a>

    <a href="#/addDrink" class="mainNavButton">
        <img ng-src="img/menuIcon.png">
        Add drink
    </a>

    <a href="#/cabinet" class="mainNavButton">
        <img ng-src="img/menuIcon.png">
        Cabinet
    </a>

    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Click to toggle modal
        <br>
        <small>(using an object)</small>
    </button>
</div>
